.about {
    background-color: #d9e0fd;
    position: relative;
    padding: 180px 12px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}

.about>div {
    background-color: var(--azul-lv1);
    width: 70%;
    position: absolute;
    font-family: var(--cursive);
    font-size: 3.6rem;
    color: var(--blanco);
    text-align: center;
    padding: 28px 12px;
    top: -30px;
    left: -50%;
    transform: translate(92%, 0);
    border-radius: 50px;
    filter: drop-shadow(2px 4px 6px black);
}

.about figure {
    height: 400px;
    position: relative;
    width: 320px;
    filter: drop-shadow(2px 4px 6px black);
}

.about .head {
    position: absolute;
    width: 316px;
    z-index: 5;
    bottom: 119px;
    animation: shakeHead infinite 3.5s;
    transform-origin: 50% 90%;
}

@keyframes shakeHead {
    0% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

.overflowBody {
    background-color: var(--azul-lv1);
    width: 316px;
    height: 440px;
    position: absolute;
    border-radius: 50%;
    left: -7px;
    transform: rotate(-60deg);
    overflow: hidden;
}


.about .body {
    width: 316px;
    position: absolute;
    bottom: 89px;
    left: -85px;
    transform: rotate(60deg);
}

.about article {
    background-color: #444f63;
    color: var(--blanco);
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    box-shadow: 0px 8px 12px -4px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    transition: all ease-in-out .4s;
}

.about article:hover {
    transform: scale(1.02)
}

.about article h1 {
    font-family: var(--normal);
    font-size: 2.4rem;
}

.about article p {
    font-family: var(--normal);
    font-size: 2rem;
}


@media (max-width: 540px) {
    .about figure {
        height: 439px;
        overflow: hidden;
    }

    .overflowBody {
        bottom: -43px;
    }
}