/**proyectos*/

.Container {
    height: 100vh;
    padding-top: 80px;
}

.categories {
    display: flex;
    color: var(--blanco);
    font-family: var(--normal);
    justify-content: center;
    gap: 40px;
    font-size: 2rem;
    padding: 12px 0;
}

.categories .activeCategory {
    color: var(--resalto);
    padding: 0 4px 2px 4px;
    border-bottom: 3px solid var(--resalto);
    border-radius: 0 0 8px 8px;
}

.categories h3:hover {
    cursor: pointer;
    color: var(--resalto);
    transition: .3s ease-in-out all;
}

.projects {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    scroll-snap-align: none;
    background: none;
}

.projects article {
    height: 340px;
    width: 340px;
    position: relative;
    transition: all ease-in-out .3s;
}

/*animacion del flip*/

.projectWrapper {
    perspective: 1000px;
    /* Perspectiva para la animación 3D */
}

.projectWrapper .card {
    position: relative;
    width: 100%;
    height: 340px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.projectWrapper:hover .card {
    transform: rotateY(180deg);
    /* Gira la tarjeta al hacer hover */
}

.card .front img {
    width: 100%;
    height: 100%;
}

.projectWrapper .card .front,
.projectWrapper .card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Oculta la cara trasera de la tarjeta */
}

.projectWrapper .card .back {
    transform: rotateY(180deg);
    /* Inicialmente, la parte trasera está girada */

    color: var(--negro-lv2);
    background-color: var(--blanco);
    padding: 20px;
    font-family: var(--normal);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.projectWrapper .card .back h1 {
    font-size: 2rem;
}

.projectWrapper .card .back p {
    font-size: 1.6rem;
}

.projectWrapper .card .back .links {
    display: flex;
    gap: 20px;
    font-size: 2rem;
}

.projectWrapper .card .back .links a {
    color: var(--negro-lv1);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
}

.projectWrapper .card .back .links a:hover {
    background-color: var(--azul-lv2);
    border-radius: 4px;
    color: var(--blanco);
}

.projectWrapper .card .back h1,
.projectWrapper .card .back p,
.projectWrapper .card .back a {
    opacity: 0;
    /* Inicialmente, los elementos de la parte trasera están ocultos */
    transition: opacity 0.3s;
}

.projectWrapper .card:hover .back h1,
.projectWrapper .card:hover .back p,
.projectWrapper .card:hover .back a {
    opacity: 1;
    /* Los elementos de la parte trasera se muestran al hacer hover */
}