a {
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background: transparent;
}

.nav .scrolled {
    box-shadow: 0px 8px 12px -4px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px);
}

.nav h1 {
    font-family: var(--cursive);
    font-size: 3.2rem;
    color: var(--blanco);
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 20px
}

.nav a {
    list-style: none;
    font-family: var(--normal);
    font-size: 1.8rem;
    text-transform: capitalize;
}

.nav ul button {
    background-color: var(--azul-lv1);
    color: var(--blanco);
    font-family: var(--cursive);
    font-size: 2rem;
    font-weight: 600;
    padding: 4px 8px;
    letter-spacing: 1px;
    border: none;
}

/* burguer button */

.burguer {
    display: none;
    border-radius: 30px;
    border: none;
    width: 60px;
    height: 60px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background-color: var(--azul-lv1);
}


.burguer span {
    display: block;
    position: absolute;
    height: 6px;
    width: 56%;
    background: var(--blanco);
    border-radius: 9px;
    opacity: 1;
    left: 13px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.burguer span:nth-child(1) {
    top: 16px;
}

.burguer span:nth-child(2),
.burguer span:nth-child(3) {
    top: 28px;
}

.burguer span:nth-child(4) {
    top: 40px;
}

.burguer.active span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.burguer.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burguer.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burguer.active span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

@media (max-width: 800px) {
    .nav ul {
        display: none;
    }
    .burguer{
        display: initial;
    }
}