a {
    text-decoration: none;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    /* background: #16202b; */
}

.nav.scrolled {
    box-shadow: 0px 8px 12px -4px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px) brightness(0.5);
}

.nav .logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--blanco);
}

.nav .logo_container .logo {
    font-family: var(--logo);
    font-size: 2.8rem;
    line-height: 1.2;
}

.nav .logo_container span:last-of-type {
    font-size: 0.8rem;
    letter-spacing: 4px;
}

.mobile {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-family: var(--normal);
    gap: 12px;
    font-size: 2rem;
    position: absolute;
    bottom: 112px;
    left: 160px;
}

.download {
    font-family: var(--cursive);
    font-size: 1.8rem;
    letter-spacing: 1px;
    padding: 4px 8px;
    border: none;
    background-color: var(--negro-lv2);
    color: var(--blanco);
    border-radius: 4px;
}

.desktop {
    display: flex;
    align-items: center;
    gap: 20px
}

.nav a {
    list-style: none;
    font-family: var(--normal);
    font-size: 1.8rem;
    text-transform: capitalize;
}

nav>ul .downloadDeskTop {
    background-color: var(--resalto);
    color: var(--blanco);
    font-family: var(--cursive);
    font-size: 2rem;
    font-weight: 600;
    padding: 4px 8px;
    letter-spacing: 1px;
    border: none;
}

@media (max-width: 800px) {
    .nav {
        display: none;
    }

    /* .burguer {
        display: sticky;
        top: 0;
    } */
}