.hero {
    position: relative;
}

.hero .imgContainer {
    position: absolute;
    left: calc(62% - 461px);
    top: calc(88% - 600px);
    z-index: 0;
}

.hero .circle1,
.hero .circle2,
.hero .circle3 {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 140px;
    left: 130px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 30px 0 #fff,
        inset 20px 0 30px #ffd400,
        inset -20px 0 30px red,
        inset 20px 0 300px #ff40d6,
        inset -20px 0 300px #e3ff4b,
        0 0 50px #fff,
        -10px 0 100px #fbff00,
        10px 0 80px #f55;
}


.hero .circle1 {
    animation: orbit 4s ease-in-out infinite;
}

.hero .circle2 {
    animation: orbit 4s ease-in-out infinite;
    animation-delay: -1.3s;
}

.hero .circle3 {
    animation: orbit 4s ease-in-out infinite;
    animation-delay: -2.6s;
}

@keyframes orbit {
    0% {
        transform: translateX(-20px) scale(0.8);
        z-index: 5;
    }

    50% {
        transform: translateX(320px) scale(1.2);
        z-index: 5;
    }

    50.00001% {
        transform: translateX(320px) scale(1.2);
        z-index: 0;
    }

    100% {
        transform: translateX(-20px) scale(0.8);
        z-index: 0;
    }
}

/* 
@keyframes orbitRight {
    0% {
        transform: translateX(143px) scale(1.2);
        z-index: 1;
    }

    25% {
        transform: translateX(286px) scale(1);
        z-index: 1;
    }

    50% {
        transform: translateX(143px) scale(0.8);
        z-index: 0;
    }

    75% {
        transform: translateX(0px) scale(1);
        z-index: 0;
    }
    100% {
        transform: translateX(143px) scale(1.2);
        z-index: 10;
    }
} */

.hero img {
    filter: drop-shadow(2px -8px 9px var(--negro-lv1));
    height: 700px;
    z-index: 5;
}

.hero article {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    z-index: 4;
}

.hero article h1 {
    font-family: var(--normal);
    font-size: 10rem;
    color: var(--blanco);

}

.hero article p {
    font-family: var(--normal);
    font-size: 2rem;
    color: var(--blanco);
}

.hero .extra {
    display: flex;
    margin: 28px 0;
    gap: 8px;
}

.hero .extra p {
    background-color: var(--negro-lv2);
    padding: 12px;
    font-size: 1.6rem;
    border-radius: 8px;
    filter: drop-shadow(2px 4px 6px black);

}

.hero article p span {
    color: var(--resalto);
    font-weight: 600;
}

.hero svg {
    flex: 1 1 50%;
    filter: drop-shadow(2px 4px 6px black);
}

.hero svg image {
    transition: all ease-in-out .4s;
}

.hero svg image:hover {
    transform: scale(1.02)
}

.pointer {
    position: absolute;
    bottom: 88px;
}

@media (max-width: 800px) {

    .hero article {
        margin: 0 auto;
        padding: 0 20px;
    }

    .hero {
        padding: 0 4px;
    }

    .hero svg {
        flex-basis: 100%;
    }

    .hero .extra {
        flex-direction: column;
    }
}