.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    flex-wrap: wrap;
    position: relative;
}

.hero article {
    padding: 40px;
    flex: 1 1 50%;
}

.hero article h1 {
    font-family: var(--cursive);
    font-size: 4rem;
    color: var(--blanco);

}

.hero article p {
    font-family: var(--normal);
    font-size: 2rem;
    color: var(--blanco);
}

.hero article>p:first-of-type {
    margin: 12px 0;
}

.hero article>p:last-of-type {
    margin-bottom: 32px;
}

.hero .extra {
    display: flex;
    margin: 28px 0;
    gap: 8px;
}

.hero .extra p {
    background-color: var(--negro-lv2);
    padding: 12px;
    font-size: 1.6rem;
    border-radius: 8px;
    filter: drop-shadow(2px 4px 6px black);

}

.hero article p span {
    color: var(--azul-lv2);
    font-weight: 600;
}

.hero svg {
    flex: 1 1 50%;
    filter: drop-shadow(2px 4px 6px black);
}

.hero svg image {
    transition: all ease-in-out .4s;
}

.hero svg image:hover {
    transform: scale(1.02)
}

.pointer {
    position: absolute;
    bottom: 88px;
}

@media (max-width: 800px) {
    .container article {
        flex-basis: 100%;
    }

    .hero{
    padding: 0 4px;
    }

    .hero svg {
        flex-basis: 100%;
    }

    .hero .extra {
        flex-direction: column;
    }
}