.Footer {
    background-color: var(--blanco);
    padding: 140px 0 100px;
    position: relative;
}

.Footer article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.Footer h1 {
    font-family: var(--cursive);
    font-size: 4rem;
}

.Footer article>p {
    font-family: var(--normal);
    font-size: 2rem;
    margin: 40px 0;
    max-width: 320px;
    text-align: center;
}

.Footer article>div {
    display: flex;
    gap: 20px;
}

.Footer article>div svg {
    font-size: 3rem;
    border: 2px solid;
    padding: 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.Footer article>div svg:hover {
    color: var(--blanco);
    background-color: var(--negro-lv1);
}


.ContactMe {
    background-color: var(--azul-lv1);
    width: fit-content;
    color: var(--blanco);
    font-family: var(--normal);
    font-size: 2.4rem;
    padding: 36px 72px;
    border-radius: 50px;
    margin: -140px auto 80px;
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
    align-items: center;
}

.ContactMe a {
    background-color: var(--negro-lv2);
    color: var(--blanco);
    padding: 8px 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 8px;
    transition: all .3s ease-in-out;
}

.ContactMe a:hover {
    background-color: var(--blanco);
    color: var(--negro-lv2);
}

.Footer>span {
    position: absolute;
    bottom: 20px;
    font-family: var(--normal);
    font-size: 1.6rem;
    font-weight: 600;
    left: 50%;
    transform: translate(-48%, 0);
}

.wave2 {
    background-image: url(https://i.postimg.cc/2SJ8BmqJ/wave.png);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 98px;
    width: 100%;
    transform: scale(-1);
}

@media (max-width: 710px) {
    .ContactMe {
        width: 90%;
        padding: 20px 40px;
        display: flex;
        text-align: center;
        gap: 12px;
        flex-direction: column;
    }
}