:root {
  --dark-navy: #020c1b;
  --navy: #03071e;
  --text-container: #112240;
  --lines: #233554;
  --shadow: rgba(2, 12, 27, 0.7);
  --title: #ccd6f6;
  --white: #eff7f6;
  --text: #fff;
  --enfasis: #fb8a8a;
  --violet: #240046;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --font: "Barlow", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  background-color: var(--navy);
  color: var(--text);
}

body {
  font-family: var(--font);
  line-height: 1.3;
}

section {
  margin: 0px auto 100px;
  max-width: 1080px;
  padding-top: 20px;
  filter: drop-shadow(2px 4px 6px black);
}

@media (min-width: 900px) {
  .section-about,
  .section-skills {
    height: 52%;
  }
}

.section-contact {
  text-align: center;
}

div#about_marker,
div#skill_marker,
div#work_marker,
div#contact_marker {
  height: 1px;
  width: 1px;
  margin-bottom: 148px;
}
