:root {
  --negro-lv1: #26292B;
  --negro-lv2: #2e3239;

  --resalto: #eee7a2;
  --azul-lv1: #5f7adb;
  --azul-lv2: #a2b2ee;
  --blanco: #eaeef5;

  --normal: 'Ubuntu', sans-serif;

  --cursorX: 50vw;
  --cursorY: 50vh;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px dotted red; */
}

html {
  font-size: 62.5%;
  background: rgb(22, 32, 43);
  background: linear-gradient(180deg, rgba(22, 32, 43, 1) 0%, rgba(26, 25, 29, 1) 100%);
}

body {
  margin: 0 auto;
}

section {
  font-family: var(--normal);
  height: 100%;
  scroll-snap-align: center;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  background: linear-gradient(180deg, rgba(22, 32, 43, 1) 0%, rgba(26, 25, 29, 1) 100%);
}