/* form css */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    color: var(--blanco);
    font-family: var(--normal);
}

.form label {
    align-self: flex-start;
    font-family: var(--texto);
    font-size: 1.6rem;
}

.form input {
    width: 100%;
    height: 40px;
    margin: 8px 0 20px;
    border: none;
    background-color: var(--negro-lv2);
    border-bottom: 1px solid var(--blanco);
    color: var(--blanco);
    font-size: 1.6rem;
    padding-left: 8px;
}

.form textarea {
    width: 100%;
    height: 120px;
    border: 1px solid var(--blanco);
    background-color: var(--negro-lv2);
    color: var(--blanco);
    margin: 8px 0 20px;
    padding: 8px;
}

.form button {
    padding: 12px 24px;
    font-size: 1.8rem;
    border: none;
    background-color: var(--blanco);
    color: var(--negro-lv2);
    font-weight: 600;
    align-self: flex-start;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

/*thanks message card*/

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.thanks>p {
    color: var(--blanco);
    font-family: var(--normal);
    font-size: 2rem;
}

.thanks ol {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.thanks ol li {
    list-style: none;
}

.thanks ol li a svg {
    color: var(--blanco);
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.thanks button {
    padding: 12px 24px;
    font-size: 1.8rem;
    border: none;
    background-color: var(--blanco);
    color: var(--negro-lv2);
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}